version: "3.8"

services:
  nacos:
    image: nacos/nacos-server
    container_name: nacos-container
    environment:
      - MODE=standalone
    ports:
      - "8848:8848"
    restart: always

  minio:
    image: minio/minio:RELEASE.2021-04-22T15-44-28Z
    container_name: minio-container
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    command: server /data
    ports:
      - "9000:9000"
    restart: always

  mysql:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      - MYSQL_ROOT_PASSWORD=root
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    restart: always

  redis:
    image: redis:latest
    container_name: redis-container
    command: >
      redis-server --requirepass root
    ports:
      - "6379:6379"
    restart: always

  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper-container
    ports:
      - "2181:2181"
    restart: always

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka-container
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INSIDE://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:29092,OUTSIDE://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    restart: always
